/.env
/.env.example
/.venv
/__pycache__
/logs/
client_secret*
pwa-app/.env
missing_species_alias.csv
unique_species_labels.csv
data/images/
missing_species.csv
data/planclef.faiss
data/planclef_cache.pt
data/leafsnap_field.faiss
data/leafsnap_cache.pt
data/plant_rag/
data/leafsnap.faiss
data/plants.db
data/user_plants.db
pwa-app/node_modules/
data/planclef_cache.pt
